body{
    transition: 1s;
    background-color: #f5f5f5;
}
#banner{
    transition: 1s;
}
.information{
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.information::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.opcoes{
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px;
    padding: 0px;
 }
 .opcoes li{
    background-color: #ced4da;
    list-style: none;
    color: black;
    padding: 0px 5px;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 0px 10px;
 }
 .invader{
    border-radius: 5px;
 }
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: row;
}
.anime-info {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.anime-info h2 {
    color: black;
}

.anime-info p {
    margin-bottom: 10px;
}

.anime-info a {
    color: #4caf50;
}

.anime-info a:hover {
    color: #66bb6a;
}

.anime-info span {
    color: black;
    font-weight: bold;
}

.divider {
    border-top: 1px solid #4caf50;
    margin-top: 10px;
    margin-bottom: 10px;
}
.temporadas-episodios{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.personagens{
flex-wrap: wrap;
}
.personagem{
    padding: 10px;
    width: max-content;
}
.card-img-top{

    width: auto;
}
.card-body{
    display: flex;
    justify-content: center;
}
.card-title{
    height: max-content;
    margin: 0px;
    font-size: medium;
    word-break: normal;
    text-align: center;
}
.card{
    margin: 1%;
    max-width: 126.6px;
}
@media( max-width: 420px){
    .card{
        max-width: 150px;
        margin: 0.5%;;
    }
    .personagens{
        justify-content: space-around;
    }
}