/* Mantenha os estilos existentes do jogo */
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: black;
}

/* Adicione o novo estilo para alinhar o jogo à centro */
#board.game-board {
    float: center; /* Alinha o jogo à centro */
    margin-left: 10px; /* Adiciona um espaço à esquerda do jogo para separá-lo dos outros elementos */
}
