@media (max-width: 420px) {
  .card {
    margin: 10px 10px;
    width: 44.3%;
  }
  .card-title {
    font-size: 12px;
  }
  .card-body {
    padding: 5px;
  }
  .input-group {
    margin-bottom: 0px;
  }
  .pagination {
    margin-top: 10px;
  }
  .pagination a {
    margin-right: 5px;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .selection {
    display: block;
  }
  .opcoes a {
    display: none;
  }
  .info {
    display: none;
  }
}
