.tema-pagina{
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 25px;
}

.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    border-radius: 100px;
    background-color: black;
    transition: 1s;

}
.ball-move{
    left: calc(100% - 30px);
}
.white-mode{
    background-color: turquoise;
}
.white{
    background-color: white;
}
.dark{
    background-color: rgb(20, 19, 19);
}
.dark_banner{
    filter: invert(1);
}
.dark_news{
    transition: 1s ;
    color: white;
    background-color: black;
}