 /* Adicione estilos personalizados aqui se necessário */
 body {
    background-color: whitesmoke;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px; /* Define a largura dos cards */
    margin-right: 20px; /* Espaçamento entre os cards */
}

.card:last-child {
    margin-right: 0; /* Remove o espaçamento do último card */
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 450px; /* Define a altura das imagens */
    width: 100%;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.input-group {
    margin-bottom: 30px;
}

.form-control {
    border-radius: 20px;
    border: 1px solid #ced4da;
}

.btn-outline-secondary {
    border-radius: 20px;
    border: 1px solid #007bff;
    color: #007bff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination {
    margin-top: 30px;
    
}